@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
$clip-path-hero: polygon(
  42.145% 1.885%,
  41.555% 0.761%,
  41.555% 0.761%,
  41.475% 0.623%,
  41.39% 0.497%,
  41.298% 0.384%,
  41.201% 0.285%,
  41.099% 0.199%,
  40.994% 0.129%,
  40.884% 0.073%,
  40.772% 0.033%,
  40.658% 0.008%,
  40.541% 0%,
  4.451% 0%,
  4.451% 0%,
  4.324% 0.008%,
  4.198% 0.033%,
  4.074% 0.074%,
  3.952% 0.13%,
  3.834% 0.202%,
  3.72% 0.289%,
  3.61% 0.39%,
  3.505% 0.505%,
  3.406% 0.634%,
  3.312% 0.777%,
  0.463% 5.483%,
  0.463% 5.483%,
  0.378% 5.635%,
  0.301% 5.796%,
  0.232% 5.966%,
  0.172% 6.144%,
  0.12% 6.328%,
  0.077% 6.518%,
  0.044% 6.714%,
  0.02% 6.914%,
  0.005% 7.117%,
  0% 7.322%,
  0% 39.205%,
  0% 39.205%,
  0.009% 39.505%,
  0.036% 39.799%,
  0.079% 40.086%,
  0.14% 40.363%,
  0.216% 40.629%,
  0.307% 40.882%,
  0.413% 41.119%,
  0.533% 41.34%,
  0.667% 41.542%,
  0.813% 41.724%,
  1.284% 42.249%,
  1.284% 42.249%,
  1.409% 42.405%,
  1.524% 42.577%,
  1.627% 42.766%,
  1.717% 42.969%,
  1.796% 43.185%,
  1.861% 43.413%,
  1.913% 43.65%,
  1.95% 43.895%,
  1.973% 44.147%,
  1.981% 44.403%,
  1.981% 55.704%,
  1.981% 55.704%,
  1.972% 55.974%,
  1.947% 56.238%,
  1.906% 56.494%,
  1.849% 56.741%,
  1.778% 56.976%,
  1.693% 57.199%,
  1.593% 57.407%,
  1.481% 57.598%,
  1.357% 57.772%,
  1.221% 57.925%,
  0.886% 58.264%,
  0.886% 58.264%,
  0.728% 58.443%,
  0.582% 58.645%,
  0.452% 58.87%,
  0.336% 59.113%,
  0.237% 59.373%,
  0.153% 59.649%,
  0.087% 59.937%,
  0.039% 60.237%,
  0.01% 60.545%,
  0% 60.859%,
  0% 92.609%,
  0% 92.609%,
  0.005% 92.815%,
  0.02% 93.018%,
  0.044% 93.218%,
  0.077% 93.413%,
  0.12% 93.604%,
  0.172% 93.788%,
  0.232% 93.966%,
  0.301% 94.136%,
  0.378% 94.297%,
  0.463% 94.449%,
  3.354% 99.223%,
  3.354% 99.223%,
  3.447% 99.366%,
  3.547% 99.495%,
  3.652% 99.61%,
  3.761% 99.711%,
  3.876% 99.798%,
  3.994% 99.87%,
  4.115% 99.926%,
  4.239% 99.967%,
  4.365% 99.992%,
  4.493% 100%,
  32.737% 100%,
  44.792% 99.915%,
  44.792% 99.915%,
  44.931% 99.899%,
  45.065% 99.854%,
  45.194% 99.783%,
  45.314% 99.686%,
  45.426% 99.566%,
  45.528% 99.423%,
  45.618% 99.261%,
  45.695% 99.079%,
  45.759% 98.881%,
  45.806% 98.667%,
  45.806% 98.667%,
  45.847% 98.483%,
  45.902% 98.312%,
  45.968% 98.156%,
  46.046% 98.017%,
  46.134% 97.894%,
  46.23% 97.791%,
  46.334% 97.708%,
  46.444% 97.648%,
  46.56% 97.61%,
  46.68% 97.597%,
  53.149% 97.597%,
  53.149% 97.597%,
  53.261% 97.61%,
  53.369% 97.649%,
  53.47% 97.712%,
  53.565% 97.796%,
  53.651% 97.9%,
  53.728% 98.023%,
  53.793% 98.163%,
  53.847% 98.317%,
  53.887% 98.485%,
  53.912% 98.664%,
  53.912% 98.664%,
  53.941% 98.873%,
  53.988% 99.069%,
  54.05% 99.249%,
  54.127% 99.412%,
  54.216% 99.556%,
  54.316% 99.677%,
  54.427% 99.776%,
  54.545% 99.849%,
  54.671% 99.894%,
  54.802% 99.909%,
  95.629% 99.909%,
  95.629% 99.909%,
  95.755% 99.901%,
  95.879% 99.877%,
  96.001% 99.838%,
  96.121% 99.783%,
  96.237% 99.714%,
  96.35% 99.63%,
  96.458% 99.532%,
  96.562% 99.42%,
  96.661% 99.295%,
  96.754% 99.157%,
  99.522% 94.703%,
  99.522% 94.703%,
  99.61% 94.55%,
  99.689% 94.387%,
  99.76% 94.216%,
  99.823% 94.036%,
  99.876% 93.849%,
  99.92% 93.656%,
  99.955% 93.458%,
  99.98% 93.255%,
  99.995% 93.049%,
  100% 92.84%,
  100% 60.718%,
  100% 60.718%,
  99.99% 60.404%,
  99.961% 60.097%,
  99.913% 59.798%,
  99.847% 59.51%,
  99.765% 59.235%,
  99.665% 58.975%,
  99.55% 58.732%,
  99.42% 58.508%,
  99.276% 58.306%,
  99.118% 58.126%,
  98.561% 57.561%,
  98.561% 57.561%,
  98.426% 57.408%,
  98.302% 57.234%,
  98.191% 57.043%,
  98.092% 56.835%,
  98.007% 56.613%,
  97.936% 56.377%,
  97.88% 56.131%,
  97.839% 55.876%,
  97.814% 55.613%,
  97.805% 55.344%,
  97.8% 49.943%,
  97.8% 44.696%,
  97.8% 44.696%,
  97.808% 44.429%,
  97.833% 44.168%,
  97.873% 43.914%,
  97.929% 43.668%,
  97.998% 43.434%,
  98.082% 43.212%,
  98.18% 43.005%,
  98.289% 42.813%,
  98.412% 42.64%,
  98.545% 42.485%,
  99.129% 41.882%,
  99.129% 41.882%,
  99.285% 41.702%,
  99.428% 41.5%,
  99.556% 41.276%,
  99.67% 41.034%,
  99.768% 40.775%,
  99.849% 40.501%,
  99.914% 40.215%,
  99.961% 39.918%,
  99.99% 39.613%,
  99.999% 39.301%,
  99.987% 7.117%,
  99.987% 7.117%,
  99.982% 6.911%,
  99.967% 6.708%,
  99.943% 6.509%,
  99.909% 6.314%,
  99.866% 6.124%,
  99.815% 5.939%,
  99.754% 5.762%,
  99.686% 5.592%,
  99.609% 5.431%,
  99.524% 5.279%,
  96.852% 0.866%,
  96.852% 0.866%,
  96.758% 0.724%,
  96.659% 0.595%,
  96.554% 0.48%,
  96.445% 0.379%,
  96.331% 0.292%,
  96.213% 0.22%,
  96.092% 0.164%,
  95.968% 0.123%,
  95.842% 0.098%,
  95.715% 0.089%,
  59.863% 0.002%,
  59.863% 0.002%,
  59.739% 0.011%,
  59.617% 0.038%,
  59.498% 0.084%,
  59.382% 0.147%,
  59.271% 0.226%,
  59.164% 0.322%,
  59.063% 0.434%,
  58.969% 0.561%,
  58.881% 0.702%,
  58.801% 0.857%,
  58.408% 1.696%,
  58.408% 1.696%,
  58.248% 2.006%,
  58.073% 2.288%,
  57.884% 2.542%,
  57.683% 2.765%,
  57.47% 2.957%,
  57.248% 3.116%,
  57.017% 3.242%,
  56.779% 3.333%,
  56.535% 3.389%,
  56.287% 3.408%,
  50.124% 3.408%,
  46.465% 3.408%,
  44.172% 3.408%,
  44.172% 3.408%,
  43.939% 3.391%,
  43.71% 3.342%,
  43.486% 3.261%,
  43.267% 3.15%,
  43.056% 3.009%,
  42.853% 2.838%,
  42.659% 2.64%,
  42.475% 2.414%,
  42.303% 2.162%,
  42.145% 1.885%
);

div {
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;

  box-sizing: border-box;
}

.padding {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.mainHero {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BackgroundImage {
  width: 100%;
  height: 100%;

  clip-path: $clip-path-hero;
  background-image: url("../../assets//image/homePageImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.vectorSvg {
  width: max-content;
  height: max-content;
}
.grainBg {
  background-image: url("../../assets/svg/grain.gif");
  background-repeat: repeat;
  background-blend-mode: screen;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.04;
  z-index: 10;
  pointer-events: none;
}
.gridBg {
  background-image: url("../../assets/svg/grid.svg");
  background-repeat: repeat;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
}
.lines {
  background: linear-gradient(
    rgb(0, 0, 255),
    rgb(0, 0, 255) 3px,
    transparent 0px,
    transparent 9px
  );
  background-size: 100% 7px;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  object-fit: cover;
  animation: LineAnimation 16s linear 0s infinite normal none running;
  clip-path: $clip-path-hero;
  -webkit-clip-path: $clip-path-hero;
}


@keyframes LineAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.ultraRegular {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  
}
.heroTextP{
  font-size: clamp(50px, 7vw, 100px);
  margin: 0;
  line-height: 0.9;
}

.heroText{
  position: absolute;
 
  

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  top: 50%;
  left: 30%;
  transform: translate(calc(-50%), -50%);
}
.textSpan{
  margin: 0;
  
}
.timeContainer{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.714);
 
  padding: 5px 14px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  
}
.